<footer id="footer" class="bg-[#780000] text-white py-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-col sm:flex-row justify-between items-center">
      <div>
        <img
          src="https://upload.wikimedia.org/wikipedia/en/thumb/1/18/Wydad_AC_crest_%282022%29.svg/1200px-Wydad_AC_crest_%282022%29.svg.png"
          alt="Wydad AC Logo"
          class="h-12 sm:h-16"
        />
      </div>
      <div class="mt-4 sm:mt-0">
        © 2025 Wydad Athletic Club. All rights reserved.
      </div>
    </div>
  </div>
</footer>
